html {
     overflow: hidden
}

body {
    margin: 0;
}

.root1 {
    background-color: #000D52;
    position: relative;
    padding: 0 0 0 180px;
    height: auto;
    width: auto;
}

.root2 {
    background-color: #737373;
    padding: 40px 0 0 0;
    height: auto;
    width: auto;
}

.root3 {
    background-color: #C6C6C6;
    height: 100%;
    width: auto;
    background-image: url("../images/border.png");
    background-size: 15px;
    display: flex; /* 追加 */
    flex-direction: column; /* 追加 */
    align-items: flex-end; /* 追加 */
}

.func-plus-container {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 10px 20px;
    position: relative;
    margin-top: 720px; /* 追加 */
    margin-right: auto; /* 追加 */
    margin-left: 50px; /* 追加 */
    margin-bottom: auto; /* 追加 */
}

.func-plus {
    display: inline-block;
    vertical-align: middle;
    color: white;
    line-height: 1;
    width: 1em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
    position: absolute;
    top: 50%; /* 中央寄せのために追加 */
    left: 50%; /* 中央寄せのために追加 */
    transform: translate(-50%, -50%); /* 中央寄せのために追加 */
}

.func-plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
}

.user_tab {
    background-color: #000000;
    position: fixed;
    bottom: 0; left: 0;
    height: 50px;
    width: 180px;
}

.file-drop-area {
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.file-drop-area.drag-over {
    background-color: lightgray;
}

.icon-area {
    height: 100%;
    width: auto;
    margin-top: 10px;
}

.file-icon {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}