html {
     overflow: hidden
}

body {
    margin: 0;
}

.root1 {
    background-color: #000D52;
    position: relative;
    padding: 0 0 0 180px;
    height: auto;
    width: auto;
}

.root2 {
    background-color: #737373;
    padding: 40px 0 0 0 ;
    height: auto;
    width: auto;
}

.root3 {
    background-color: #C6C6C6;
    height: 100%;
    width: auto;
    background-image: url("../images/border.png");
    background-size: 15px;
}

.file-container {
    height: 100%;
    width: auto;
}

.user_tab {
    background-color: #000000;
    position: fixed;
    bottom: 0; left: 0;
    height: 50px;
    width: 180px;
}

.file-drop-area {
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.file-drop-area.drag-over {
    background-color: lightgray;
}

.icon-area {
    height: 100%;
    width: auto;
    margin-top: 10px;
}

.file-icon {
    display: inline-block;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}